GET REPORTS

<p>
	
	<a href="/students/5a987edf747fbd750b1877ec/reports">show reports</a>
</p>


CREATE REPORT
<form action="/students/5a987edf747fbd750b1877ec/reports" method="POST">
	<input type="text" name="report[text]">
	<button>submit</button>
</form>

DELETE REPORT
<form action="/students/5a987edf747fbd750b1877ec/reports/5a989cdfdccd47116c03ef6e?_method=DELETE" method="POST">
	<button>submit</button>
</form>


<!-- reports/5a988c4bd743d904e51d1484?_method=DELETE -->