
#root {
    height: 100%
}

.container{ 
    display: flex;
}

.container.centered{
    justify-content: center;
    align-items: center;
}

.container.verticalCentered {
    align-items: center;
}

.container.spaceBetween {
    justify-content: space-between;
}

.container.column {
    flex-direction: column;
}

.container.row {
    flex-direction: row;
}

.active {
    display: flex;
}

.disabled {
    display: none;
}

.text-center{
    text-align: center;
}