
#root {
    height: 100%
}

.container{ 
    display: flex;
}

.container.centered{
    justify-content: center;
    align-items: center;
}

.container.column {
    flex-direction: column;
}

.container.row {
    flex-direction: row;
}

.active {
    display: block;
}

.disabled {
    display: none;
}