
#registerText{
    color:#C2C2C2;
}

#logo {
    width: 130px;
    margin-bottom: 40px;
    height: auto;
}

#loginButton{
    background-color: #56FE99;
    color: white;
}

#registerButton{
    background-color: #febb56;
    color: white; 
}

#loginButton:hover{
    opacity: 0.8;
}

#loginForm{
    width: 250px;
}

#registerForm{
    width: 300px;
    height: auto;
    border-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.04);
}

.statusFeedback{
    color:rgb(180, 50, 50);
}

#registerLink{
    color: #56FE99;
    font-weight: 900;
    cursor: pointer;
}

#registerLink:hover{
    text-decoration: underline;
}

#main{
    background-color: #FCFCFC;
    height: 100%;
}

.buttonHolder {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.no-margin{
    margin: 0px;
}