.report_code_wrapper{
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
}

.report_code{
    width: 600px;
    height: 600px;
}

.report_sadface {
    max-width: 250px;
    max-height: 250px;
}

.report_label{
    max-width: 600px;
    right: 5px;
    top: -18px;
    position: absolute;
}

.report_infoBlock{
    width: 220px;
    height: 100px;
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #F5F5F5;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
}

.report_all{
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 4%;
}

.report_reporter{
    width: 600px;
    height: 680px;
    overflow: auto;
    position: relative;
    border: 1px solid #F5F5F5;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
}

.report_reporter_wrapper{
    margin-left: 100px;
    position: relative;
}

.report_dropdown{
    max-width: 50px;
    margin-right: 5px;
}

.report_formfield{
    width: 500px;
}

.report_form{
    padding: 40px;
    height: 598px;
    position: relative;
}

.report_score{
    max-width: 70px;
    margin-right: 5px !important; 
}

#report_send_btn{
    position: absolute;
    right: -5px;
    bottom: -35px;
    background-color: #88FE56;
    color: white;
}
#report_send_btn:hover{
    position: absolute;
    right: -5px;
    bottom: -35px;
    background-color: #C5FFAD;
    color: white;
}