.show_student_studentInfo {
    width: 220px;
    height: 100px;
    background-color: #FAFAFA;
    padding: 20px;
    text-align: center;
    border: 1px solid #F5F5F5;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    position: fixed;
    left: 25%;
    top: 25%;   
}

.show_student_studentMenu {
    width: 220px;
    height: 80px;
    background-color: #FAFAFA;
    border: 1px solid #F5F5F5;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.07);
    position: fixed;
    left: 25%;
    top: 36%;   
}

.show_student_listCard  {
    position: relative;
    min-width: 400px;
    width: auto;
    height: 80px;
    background-color: #FAFAFA;
    margin-top: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
}

.show_student_listCard  {
    color: inherit;
    text-decoration: none; /* no underline */
    z-index: 0;
}

.show_student_listCard:hover {
    color: inherit;
}

.show_student_list_delete{
    color: rgb(231, 231, 231);
}

.show_student_list_delete:hover{
    color: rgb(202, 202, 202);
}

.show_student_menuActive{
    color: #56FE99;
}

#show_student_hr{
    width: 25%;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 1px;
}

#show_student_title{
    color: #56FE99;
    font-size: 40px;
    padding-top: 50px;
}


@media only screen and (min-width: 1300px) and (max-width: 1750px) {
    .show_student_studentInfo{
        left: 15%;
    }
    .show_student_studentMenu{
        left: 15%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .show_student_studentInfo{
        left: 5%;
    }
    .show_student_studentMenu{
        left: 5%;
        top: 37%;
    }
}

@media only screen and (max-width: 999px) {
    .show_student_studentInfo{
        position: static;
        margin-top: 10px;
    }
    .show_student_studentMenu{
        position: static;
        margin-top: 10px;
    }
}